/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #F1F0F0;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}



/*Temporary*/

.placeholderimg {
    height: 90%;
}

.timelinescreen {
    height: 100vh !important;
    padding: 0px !important;
}

 

/*Implemented by user*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.fullscreen-container {
    height: 100vh !important;
    margin: 0px !important;
    margin-right: 300px !important;
}

li .switch,
.switch * {
    float: right;
    top: 18px;
}

.bottom-align {
    display: inline-block;
    vertical-align: bottom;
}

.collapsible {
    max-width: 40vh;
    min-width: 40vh;
    margin: auto;
    vertical-align: center;
}


/*Alles tot hier wss niet nodig*/


/*********************************/


/*Colors*/


/*********************************/

.accentgrey-light {
    background-color: #F1F0F0;
}

.accentgrey-light-text {
    color: #F1F0F0;
}

.accentgrey-medium {
    background-color: #97989C;
}

.accentgrey-medium.trans {
    background-color: rgba(151, 152, 156, .22);
}

.accentgrey-medium-text {
    color: #97989C;
}

.accentgrey-dark {
    background-color: #3D4148;
}

.accentgrey-dark-text {
    color: #3D4148;
}

.accentblue-light {
    background-color: #47BCDA;
}

.accentblue-light-text {
    color: #47BCDA;
}

.accentblue-medium {
    background-color: #15A5C6;
}

.accentblue-medium-text {
    color: #15A5C6;
}

.accentblue-dark {
    background-color: #268DAF;
}

.accentblue-dark-text {
    color: #268DAF;
}


/*********************************/


/*general*/


/*********************************/

nav ul a {
    color: #F1F0F0;
}

.btn,
.btn-large {
    background-color: #15A5C6;
    color: #F1F0F0;
}

.btn:hover,
.btn-large:hover {
    background-color: #268DAF;
}

a {
    color: #15A5C6;
}


/*********************************/


/*Login/Register*/


/*********************************/


/* label color */

.input-field label {
    color: #000;
}


/* label focus color */

.input-field input[type=email]:focus+label {
    color: #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #15A5C6;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #15A5C6;
    -webkit-box-shadow: 0 1px 0 0 #15A5C6;
    box-shadow: 0 1px 0 0 #15A5C6;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #15A5C6;
  border-bottom: 2px solid #15A5C6;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #15A5C6;
}

span.infotitle {
    font-size: 1.4rem;
}

.row span {
    line-height: 1.8;
}

.row ul {
    margin: 0px;
}

.row span.sub {
    color: grey;
}

.btn-floating.btn-large {
    margin-right: 10px;
    margin-bottom: 10px;
}

div#eventDisplay,
div#eventEdit {
    padding: 0;
}



form label,
form .input-field.col label {
    color: black;
    font-size: 1rem;
}

